@import 'global_addon.scss';

// Most of the code goes here
	html {
		body {
			#wrapper {
				div.success {
					padding-top: 40px;
				}
				div.contact_form {
					// padding-top: 20px;
					padding-bottom: 60px;
					form {
						div.other_channels {
							text-align: right;
							margin-right: 15px;
							a {
								img {
									height: auto;
									width: 45px;
									border-radius: 3px;
								}
							}
						}
						.input-group-addon {
							background-color: default;
							color: darken($text_color,50%);
						}
						legend {
							padding-left: 5px;
							text-align: center;
							color: $main_color1;
							font-size: 2.1em;
							font-weight: normal;
						}
						.input-group-addon {
							background-color: $text_color;
						}
						.contact_option {
							label:not(.control-label) {
								border-color: $text_color;
								border-radius: 3px;
								border-width: 1px;
								border-style: dashed;
								padding-left: 30px;
								padding-right: 10px;
								padding-top: 3px;
								&.error {
									border-color: rgba(255,0,0,1);
									background-color: rgba(255,0,0,.1);
								}
							}
						}
						select {
							background-color: $text_color;
							border-color: $text_color;
							color: darken($text_color,50%);
							font-weight: bold;
						}
						input, textarea {
							background-color: $background_color;
							border-color: $text_color;
							color: $main_color1;
							&.error {
								border-color: red;
								background-color: rgba(255,0,0,.1);
							}
						}
						.contact_option {
							margin-left: 20px;
							label {
								&:not(.control-label) {
									margin-left: 20px;
								}
							}
						}
						.recaptcha_notice {
							color: white;
							font-size: 1.2em;
							padding-top: 15px;
							padding-left: 17px;
							transition: color .2s;
						}
						.btn-outline-success, .btn-outline-warning {
							border-color: $text_color;
							color: $text_color;
							background-color: $background_color;
							&:focus:not(.disabled), &:hover:not(.disabled) {
								border-color: $main_color1;
								color: $main_color1;
								background-color: $background_color;
							}
							&.disabled:focus, &.disabled:hover {
								border-color: $text_color;
								color: $text_color;
								background-color: $background_color;
								box-shadow: none;
							}
						}
					}
				}
			}
			#space_before_bottom_bar{
				
			}
			footer#bottom_bar {
				
			}
		}
	}
	// END DEFAULT SIZE

/* Bootstrap 4's xs */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	html {
		body {

		}
	}
	// END XX SMALL SIZE

}// END CUSTOM

/* Bootstrap 4's sm */
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 576px) {

	html {
		body {
			#wrapper {
				div.contact_form {
					form {
						legend {

						}
						.contact_option {
							label:not(.control-label) {

								&.error {

								}
							}
						}
						input, textarea {
							&.error {

							}
						}
						.contact_option {
							label {
								&:not(.control-label) {

								}
							}
						}
					}
				}
				div.company_info {
					div p img {

					}
					span{
						i {

						}
						&.open {

						}
					}
					p {

					}
				}
			}
		}
	}
	// END EXTRA SMALL SIZE

}// END CUSTOM

/* Bootstrap 3's md */
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	html {
		body {
			#wrapper {
				div.contact_form {
					form {
						legend {

						}
						.contact_option {
							label:not(.control-label) {

								&.error {

								}
							}
						}
						input, textarea {
							&.error {

							}
						}
						.contact_option {
							label {
								&:not(.control-label) {

								}
							}
						}
					}
				}
				div.company_info {
					div p img {

					}
					span{
						i {

						}
						&.open {

						}
					}
					h2 {
						font-size: 2.2em;
					}
					p {
						font-size: 1.2em;
					}
				}
			}
		}
	}
	// END SMALL SIZE

}// END CUSTOM

/* Bootstrap 4's lg */
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	html {
		body {
			#wrapper {
				div.contact_form {
					form {
						legend {

						}
						.contact_option {
							label:not(.control-label) {

								&.error {

								}
							}
						}
						input, textarea {
							&.error {

							}
						}
						.contact_option {
							label {
								&:not(.control-label) {

								}
							}
						}
					}
				}
				div.company_info {
					div p img {

					}
					span{
						i {

						}
						&.open {

						}
					}
					p {

					}
				}
			}
		}
	}
	// END MEDIUM SIZE

}// END CUSTOM

/* Bootstrap 4's xl */
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	html {
		body {
			#wrapper {
				div.contact_form {
					form {
						legend {

						}
						.contact_option {
							label:not(.control-label) {

								&.error {

								}
							}
						}
						input, textarea {
							&.error {

							}
						}
						.contact_option {
							label {
								&:not(.control-label) {

								}
							}
						}
					}
				}
				div.company_info {
					div p img {

					}
					span{
						i {

						}
						&.open {

						}
					}
					p {

					}
				}
			}
		}
	}
	// END LARGE SIZE

}// END CUSTOM