@import 'global_addon.scss';

// Most of the code goes here
	html {
		body {
			#wrapper {
				div.continue_reading {
					display: none;
					z-index: 100;
					position: absolute;
					bottom: 0;
					width: 100%;
					padding-bottom: 15px;
					background: linear-gradient(to bottom, rgba(38, 38, 38, 0), rgba(38, 38, 38, .9), rgba(38, 38, 38, 1));
					h3 {
						text-align: center;
						color: rgba(231,202,185, 1);
						transition: color .3s;
						cursor: pointer;
						font-size: 1.3em;
						padding-top: 35px;
						margin-bottom: 0;
						&:hover, &:focus {
							color: $main_color1;
						}
					}
				}
				section {
					h2.section_title {
						color: white;
						text-align: center;
						margin-bottom: 15px;
						font-size: 1.5em;
						i {
							margin-right: 10px;
							font-size: .7em;
							color: $main_color1;
						}
					}
				}
				section#intro {
					padding-bottom: 20px;
					img#profile_pic {
						border-radius: 100%;
						max-height: 350px;
						padding: 15px;
					}
					.slogan {
						font-size: 1.1em;
						font-weight: bold;
						span {
							color: $main_color1;
						}
					}
					.facebook {
						margin-bottom: 5px;
					}
					h2 {
						color: $main_color1;
						margin-bottom: 15px;
						text-align: center;
					}
					p {
						a {
							color: inherit;
							transition: color .3s;
							&:hover, &:focus {
								color: $main_color1;
							}
						}
					}
					div.left_group {
						text-align: center;
						margin-bottom: 20px;
					}
					.intro_container {
						overflow: hidden;
						position: relative;
					}
				}
				section#summary {
					padding-top: 20px;
					padding-bottom: 20px;
					background-color: lighten($background_color,15%);
					div.inner_div {
						position: relative;
						overflow: hidden;
						padding-top: 30px;
						background-color: $background_color;
						border-radius: 5px;
						ul {
							padding: 0 0 10px 20px;
							margin-right: 15px;
							margin-left: 15px;
						}
					}
				}
				section#info {
					padding-top: 30px;
					padding-bottom: 30px;
					h2 {
						&.core {
							margin-bottom: 20px;
						}
						&.development {
							margin-top: 25px;
						}
					}
					div.core {
						position: relative;
						overflow: hidden;
						p {
							margin-bottom: 5px;
						}
					}
					ul {
						padding-left: 25px;
					}
					a {
						color: inherit;
						transition: color .3s;
						&:hover, &:focus {
							color: $main_color1;
						}
					}
				}
				section#job {
					padding-top: 20px;
					padding-bottom: 20px;
					background-color: lighten($background_color,15%);
					div.inner_div {
						max-width: 750px;
						position: relative;
						overflow: hidden;
						padding-top: 20px;
						background-color: $background_color;
						border-radius: 5px;
						h2 {
							margin-top: 10px;
							margin-bottom: 0;
						}
						h3.year {
							font-size: 1.2em;
							color: lighten($text_color, 10%);
							text-align: center;
							margin-top: 10px;

							// line in the back
							position: relative;
							z-index: 1;
							&:before {
								border-top: 2px solid $text_color;
								content:"";
								margin: 0 auto; /* this centers the line to the full width specified */
								position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
								top: 50%; left: 0; right: 0; bottom: 0;
								width: 55%;
								z-index: -1;
							}
							span { 
								/* to hide the lines from behind the text, you have to set the background color the same as the container */ 
								background: $background_color;
								padding: 0 10px;
							}
							// END line in the back
						}
						div.job_container {
							padding-bottom: 35px;
							div.job {
								max-width: 450px;
								margin: auto;
								h4 {
									font-size: 1.4em;
									margin-left: 20px;
								}
								p {
									margin: 0 0 0 35px;
									border-style: solid;
									border-width: 0 0 0 1px;
									border-color: $main_color1;
									padding-left: 10px;
									a {
										color: inherit;
										transition: color .3s;
										&:hover, &:focus {
											color: $main_color1;
										}
									}
								}
							}
						}
					}
				}
				section#technical {
					padding-top: 10px;
					padding-bottom: 30px;
					h2 {

					}
					div.inner_div {
						position: relative;
						overflow: hidden;
						background-color: $background_color;
						border-radius: 5px;
						h3 {
							font-size: 1.2em;
							color: lighten($text_color, 10%);
						}
					}
					ul {
						margin-right: 15px;
						margin-left: 15px;
						padding-left: 15px;
						margin-bottom: 0;
						li {
							border-width: 0 0 0 1px;
							border-color: $main_color1;
							border-style: solid;
							margin-left: -15px;
							padding-left: 15px;
							list-style: none;
							ul {
								li {
									margin-left: -25px;
								}
							}
						}
					}
				}
				section#project {
					padding-top: 20px;
					padding-bottom: 20px;
					background-color: lighten($background_color,15%);
					div.inner_div {
						position: relative;
						overflow: hidden;
						max-width: 800px;
						padding-top: 30px;
						background-color: $background_color;
						border-radius: 5px;
						ol {
							padding: 0 0 10px 20px;
							margin-right: 15px;
							margin-left: 15px;
							li {
								p {
									margin-bottom: 5px;
									&.description, &.url {
										margin-left: 15px;
									}
								}
							}
						}
						a {
							color: inherit;
							transition: color .3s;
							&:hover, &:focus {
								color: $main_color1;
							}
						}
					}
				}
				section#sample {
					padding-top: 30px;
					padding-bottom: 30px;
					div.sample {
						position: relative;
						overflow: hidden;
						ul {
							padding-left: 25px;
							li {
								p {
									margin-bottom: 5px;
									&.description, &.url {
										margin-left: 15px;
									}
								}
								a {
									color: inherit;
									transition: color .3s;
									&:hover, &:focus {
										color: $main_color1;
									}
								}
							}
						}
					}
				}
				section#misc {
					padding-top: 30px;
					padding-bottom: 30px;
					div.misc {
						position: relative;
						overflow: hidden;
						ul {
							padding-left: 25px;
							li {
								p {
									margin-bottom: 5px;
									&.description, &.url {
										margin-left: 15px;
									}
								}
								a {
									color: inherit;
									transition: color .3s;
									&:hover, &:focus {
										color: $main_color1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// END DEFAULT SIZE

/* Bootstrap 4's xs */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	html {
		body {
			#wrapper {
				
			}
		}
	}
	// END XX SMALL SIZE

}// END CUSTOM

/* Bootstrap 4's sm */
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 576px) {

	html {
		body {
			#wrapper {
				section#intro {
					h2 {
						
					}
				}
			}
		}
	}
	// END EXTRA SMALL SIZE

}// END CUSTOM

/* Bootstrap 3's md */
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	html {
		body {
			#wrapper {
				section#summary {
					div.inner_div {
						ul {
							margin-right: 25px;
							margin-left: 25px;
						}
					}
				}
			}
		}
	}
	// END SMALL SIZE

}// END CUSTOM

/* Bootstrap 4's lg */
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	html {
		body {
			#wrapper {
				section#intro {
					margin-top: 15px;
					h2 {
						text-align: left;
					}
				}
				section#summary {
					div.inner_div {
						ul {
							margin-right: 35px;
							margin-left: 35px;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	// END MEDIUM SIZE

}// END CUSTOM

/* Bootstrap 4's xl */
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	html {
		body {
			#wrapper {
				
			}
		}
	}
	// END LARGE SIZE

}// END CUSTOM